PROJECT_NAME="NLP Suite API"
API_V1_STR="/api/v1"
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000","https://your-frontend-domain.vercel.app"]

# Groq API Key for STT (Whisper Large v3 / Turbo)
GROQ_API_KEY=

# ElevenLabs API Key for TTS (Optional)
ELEVENLABS_API_KEY=

# Gemini API Key for Question Answering & Chatbot
GEMINI_API_KEY=

# Lara Translate API Key Credentials
LARA_ACCESS_KEY_ID=
LARA_ACCESS_KEY_SECRET=

# OCR.space API Key for Optical Character Recognition
OCR_SPACE_API_KEY=
